
*.xcuserstate
*.aux
*.lof
*.log
*.out
*.toc
*.ist
*.gz
*.glg
*.gls
*.glo
*.blg
*.bbl
doc/documentation/latexfiles/*.pdf
doc/documentation/.texpadtmp
src/Spectrometer/Spectrometer.xcworkspace/xcuserdata/
src/Spectrometer/Pods/Pods.xcodeproj/xcuserdata
