
*.xcuserstate
*.aux
*.lof
*.log
*.out
*.toc
*.ist
*.gz
*.glg
*.gls
*.glo
doc/documentation/*.pdf
doc/documentation/.texpadtmp
src/Spectrometer/Spectrometer.xcworkspace/xcuserdata/
src/Spectrometer/Pods/Pods.xcodeproj/xcuserdata

*.blg
